<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.quiin.contactpicker">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ContactPickerActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>